GEMINI_API_KEY= "AQ.Ab8RN6LKAzJKRMQ0hnfs_Hb3l5VfB-Rjo3zTGaOLMM5JSyhvrw"
OPENAI_API_KEY= "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"
